/*Default*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

img{
    width:100%;
}
/* Utils*/
.container {
    max-width: 1280px;
    margin: 0 auto;
  
  }

.clearfix::after{
    content:'';
    clear:both;
    display: table;
}

/* Header */
#main-header{
    background-color: gainsboro;
    height: 120px;
    margin: 10px 0;

}

#main-header img{
    width:12%;
}
/* nav */
#main-header .main-menu {
    margin-top:30px;
}
/* link setup */
#main-header .main-menu li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
  }

  #main-header .main-menu li a {
    color:#909190;
    text-decoration: none;
  }

#main-header .main-menu li:last-child {
  padding-right: 0;
}

/* hero section*/
#hero{
    background-image:url(".././img/banner.jpg");
    background-repeat:cover;
    background-position:center;
    height: 360px;
    margin: 50px 0;
    border-radius: 10px;
    position:relative;
}

#box-item{
    height:30%;
    width: 50%;

    position: absolute;
    bottom: 0;
    left: 0;
    margin:20px;
    color: white;
}