/*Default*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

img{
    width:100%;
}
/* Utils*/
.container {
    max-width: 1280px;
    margin: 0 auto;
  
  }

.clearfix::after{
    content:'';
    clear:both;
    display: table;
}

/* Header */
#main-header{
    background-color: gainsboro;
    height: 120px;
    margin: 10px 0;

}

#main-header img{
    width:12%;
}
/* nav */
#main-header .main-menu {
    margin-top:30px;
}
/* link setup */
#main-header .main-menu li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
  }

  #main-header .main-menu li a {
    color:#909190;
    text-decoration: none;
  }

#main-header .main-menu li:last-child {
  padding-right: 0;
}

/* hero section*/
#hero{
    background-image:url(".././img/banner.jpg");
    background-repeat:cover;
    background-position:center;
    opacity: 100%;
    height: 500px;
    margin: 50px 0px;
    border-radius: 10px;
    position: relative;
    /* set overlay on beckground image*/
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

/* box with text*/
#box-item{
    
    height:30%;
    width: 50%;
   
    position: absolute;
    bottom: 0;
    left: 0;
    margin:30px;
    text-align: justify;
    color: white;
}


#box-item p{
    padding-top: 10px;
    font-style: italic;
    font-weight:500;
}